@tailwind base;
@tailwind components;
@tailwind utilities;

.humburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-dark dark:bg-white;
}

.navbar-fixed {
  @apply fixed z-[999] bg-white bg-opacity-80 dark:bg-dark dark:bg-opacity-50;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgb(0, 0, 0, 0.1);
}

#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-4;
}

@layer components {
  .humburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-dark transition-all duration-300;
  }

  .hamburger-active .humburger-line:nth-child(1) {
    @apply origin-top-left rotate-45;
  }

  .hamburger-active .humburger-line:nth-child(2) {
    @apply scale-0;
  }

  .hamburger-active .humburger-line:nth-child(3) {
    @apply origin-bottom-left -rotate-45;
  }

  /* Media Query untuk Mobile */
  @media (max-width: 640px) {
    .container {
      padding-right: 20px; /* Padding diperkecil untuk HP */
      padding-left: 20px;
    }
  }
}
